# Database
DATABASE_URL="postgresql://user:password@localhost:5432/provenant?schema=public"

# JWT Configuration
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# Server Port (optional, defaults to 3000)
PORT=3000

# Rabbit MQ
RABBITMQ_URL= 'amqp://127.0.0.1:5672'

# Database Prefix
DATABASE_PREFIX="provenant_"